services:
  database:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: gastos-db
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Teste*1234@"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  api:
    build:
      context: ./backend
      dockerfile: src/Dockerfile
    container_name: gastos-api
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=database,1433;Database=GastosDb;User Id=sa;Password=Teste*1234@;TrustServerCertificate=True
    depends_on:
      - database
    ports:
      - "5000:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: gastos-web
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true 
    tty: true
    depends_on:
      - api 

volumes:
  sql_data: